<div (click)="scan()" class="button"></div>
<ion-img src="../../../assets/lectorqr.png"></ion-img>
<!-- <ion-img src="../../../assets/lupa.png"></ion-img> -->
<!-- <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<label>{{elcodigo}} </label><br>
<label>{{elcodigo1}} </label><br>
<label>{{elcodigo2}} </label><br>
<label>{{elcodigo3}} </label><br>
<label>{{elcodigo4}} </label><br>
<label>{{elcodigo5}} </label><br>
<label>{{elcodigo6}} </label><br>
<label>{{cod7}} </label><br>
<label>{{cod8}} </label><br>
<label>{{cod9}} </label><br>
<label>{{cod10}} </label><br> -->
