ion-card{
    height: 32%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    // background: rgb(65, 165, 135);
}
h1{
    font-size: 100px;
    font-family: sans-serif
}

ion-card-content{
    padding: 14%;
    background-color: rgb(166, 236, 187);
}